<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Héroe borrado <small class="text-danger"> {{ deletedHero }} </small></h3>
</div>

<!-- El ng-template funciona en reemplazo de un <div></div> y
  a diferencia del div no aparece en consola porque no es un elemento HTML-->

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>


<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar último Héroe
</button>


<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
  class="list-group-item">
  {{ name }}
</li>

</ul>
